<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section id="app" class="section">
        <h1 class="title">jQuery vs Vue</h1>
        <h2 class="subtitle">Ejemplo con Vue</h2>

        <table class="table">
            <tbody>
                <tr v-for="item in items">
                    <td>{{item}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td colspan="2">Se han agregado {{items.length}} elemento(s)</td></tr>
                <tr>
                    <td>
                        <input type="text" class="input" placeholder="Enter a element" v-model="newItem">
                    </td>
                    <td><button @click="add" type="button" class="button">Agregar</button></td>
                </tr>
            </tfoot>
        </table>
    </section>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    newItem: '',
                    items: []
                };
            },
            methods: {
                add() {
                    if (this.newItem.trim().length <= 3) {
                        return;
                    }
                    this.items.push(this.newItem);
                    this.newItem = ''; // Limpiar el campo de entrada
                }
            }
        });
        app.mount("#app");
    </script>
</body>
</html>
