@model ARQ.Web.Models.Funcionalidad.FuncionalidadViewModel

@section scripts
{
    <script type="text/javascript" asp-src-include="~/js/codes/funcionalidad/funcionalidad-detalle.js" asp-append-version="true"></script>
    <script type="text/javascript">vueAppParams.data.model = @Html.Raw(Model.ToJsonModel()) </script>
}

<template>
    <v-container class="mt-8">
        <v-row no-gutters
               style="flex-wrap: nowrap;">
            <v-col cols="1"
                   class="flex-grow-0 flex-shrink-0">
            </v-col>
            <v-col cols="10"
                   style="min-width: 100px; max-width: 100%;"
                   class="flex-grow-1 flex-shrink-0">
                <v-card class="notebook">
                    <template>
                        <v-form ref="form" lazy-validation>
                            <v-container>
                                <v-row class="mt-2 ml-4 mr-4 mb-0">
                                    <v-col cols="12" md="12">
                                        <v-text-field v-model="model.descripcion"
                                                      :error-messages="errors.descripcion"
                                                      counter="200"
                                                      :rules="[ vrules.required , v => vrules.maxLength(v,200,jsglobals.NombreAVisualizar) ]"
                                                      :label="jsglobals.Descripcion">
                                        </v-text-field>
                                    </v-col>
                                    <v-col cols="12" md="12" class="mb-0">
                                        <v-radio-group row label="Estado: " v-model="model.activo" class="pt-0 mt-0">
                                            <v-radio :disabled=isDisabled() name="active" :label="jsglobals.Activa" :value="true" v-on:change="onChangeCambioEstado()"></v-radio>
                                            <v-radio :disabled=isDisabled() name="active" :label="jsglobals.Inactiva" :value="false" v-on:change="onChangeCambioEstado()"></v-radio>
                                        </v-radio-group>
                                    </v-col>
                                    <v-col cols="12" md="5">
                                        <v-select v-model="seleccion.rol"
                                                  :items="roles"
                                                  item-text="descripcion"
                                                  item-value="Id"
                                                  menu-props="auto"
                                                  :label="jsglobals.SeleccioneRol">
                                        </v-select>
                                    </v-col>
                                    <v-col cols="12" md="5">
                                        <v-select v-model="seleccion.tipoAcceso"
                                                  :items="TiposAcceso"
                                                  item-text="descripcion"
                                                  item-value="id"
                                                  menu-props="auto"
                                                  :label="jsglobals.SeleccioneTipoAcceso">

                                        </v-select>
                                    </v-col>
                                    <v-col cols="12" md="2" class="mt-3">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn class="float-right"
                                                       v-bind="attrs"
                                                       v-on="on"
                                                       v-on:click="onClickAgregarRol()"
                                                       color="primary"
                                                       small
                                                       elevation="2">
                                                    <v-icon small>mdi-plus</v-icon>
                                                </v-btn>
                                            </template>
                                            <span>{{jsglobals.AgregarRolYTipoAcceso}}</span>
                                        </v-tooltip>
                                    </v-col>
                                    <v-col cols="3" class="mb-5 mt-0 pt-0"></v-col>
                                    <v-col cols="6" sm="12" class="mb-5 mt-0 pt-0">
                                        <v-data-table :headers="headers"
                                                      :items="gridData"
                                                      class="elevation-2"
                                                      dense
                                                      style="position: relative;"
                                                      :footer-props="{'items-per-page-text':jsglobals.FilasPorPagina,
                                                                    'items-per-page-all-text':jsglobals.Todas,
                                                                    'items-per-page-options':[ 10,  25,  50,  -1],
                                                                     pageText: '{0} - {1} de {2}'
                                                                     }">
                                            <template v-slot:item.actions="{ item }">
                                                <v-tooltip left>
                                                    <template v-slot:activator="{ on, attrs }" v-slot:item="{ item }">
                                                        <v-icon v-on="on" v-bind="attrs" small v-on:click="onClickEliminarRol(item)" color="indigo">mdi-delete</v-icon>
                                                    </template>
                                                    <span>
                                                        {{jsglobals.Eliminar}}
                                                    </span>
                                                </v-tooltip>
                                            </template>
                                        </v-data-table>

                                    </v-col>
                                    <v-col cols="12" class="pt-0">
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn class="float-right"
                                                       v-bind="attrs"
                                                       v-on="on"
                                                       v-on:click="onClickGuardar"
                                                       color="primary"
                                                       small
                                                       :disabled="submiting"
                                                       :loading="submiting"
                                                       elevation="2">
                                                    <v-icon small class="pr-1">mdi-content-save</v-icon>
                                                    {{jsglobals.Guardar}}
                                                </v-btn>
                                            </template>
                                            <span>   {{jsglobals.Guardar}}</span>
                                        </v-tooltip>
                                        <v-tooltip bottom>
                                            <template v-slot:activator="{ on, attrs }">
                                                <v-btn class="float-right mr-3"
                                                       v-bind="attrs"
                                                       v-on="on"
                                                       v-on:click="onClickVolver"
                                                       color="primary"
                                                       small
                                                       elevation="2"
                                                       :disabled="submiting"
                                                       :loading="submiting">
                                                    <v-icon small class="pr-1">mdi-arrow-left-circle</v-icon>
                                                    {{jsglobals.Volver}}
                                                </v-btn>
                                            </template>
                                            <span>{{jsglobals.Volver}}</span>
                                        </v-tooltip>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>
                    </template>
                </v-card>
            </v-col>
            <v-col cols="1"
                   style="min-width: 100px;"
                   class="flex-grow-0 flex-shrink-1">
            </v-col>
        </v-row>
    </v-container>
</template>

<v-row justify="space-around">
    <v-col cols="auto">
        <v-dialog v-model="dialog" persistent transition="dialog-bottom-transition"
                  width="500">
            <template v-slot:default="dialog">
                <v-card>
                    <v-card-title class="text-h6">
                        {{jsglobals.CambiarEstado}}
                    </v-card-title>
                    <v-card-text class="text-center mb-5">
                        {{itemCambio.activo==true?jsglobals.MensajeFuncionalidadActivar:jsglobals.MensajeFuncionalidadInactivar}}
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text
                               v-on:click="onClickNoConfirma(itemCambio)"
                               color="primary">
                            {{jsglobals.No}}
                        </v-btn>
                        <v-btn text
                               v-on:click="dialog.value = false"
                               color="primary">
                            {{jsglobals.Si}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>
    </v-col>
</v-row>

<v-row justify="space-around">
    <v-col cols="auto">
        <v-dialog v-model="dialog2" persistent transition="dialog-bottom-transition"
                  width="500">
            <template v-slot:default="dialog2">
                <v-card>
                    <v-card-title class="text-h6">
                        {{jsglobals.Eliminar}}
                    </v-card-title>
                    <v-card-text class="text-center mb-5">
                        {{jsglobals.MensajeEliminarRol}}
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn text
                               v-on:click="dialog2.value = false"
                               color="primary">
                            {{jsglobals.No}}
                        </v-btn>
                        <v-btn text
                               v-on:click="onClickConfirmaBorrar(itemDelete)"
                               color="primary">
                            {{jsglobals.Si}}
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </template>
        </v-dialog>
    </v-col>
</v-row>