<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>

    @using Resources
    @model Integrador.Web.ViewModels.ErrorViewModel
    @{
        ViewBag.Title = @Global.TituloError;
    }
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-xs-10">
                @Html.Label("lblError", Model.Error)
            </div>
            <div class="col-lg-1 col-md-1 col-xs-1"></div>
        </div>
    </div>

</body>
</html>
