body {
}

.item-provincia {
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}

.item-provincia-id {
    background-color: lightblue;
}

.item-provincia-nombre {
    background-color: lightblue;
}
