@{
    ViewData["Title"] = "Hola Mundo!!! WEB Conectada a SQL";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <h1>Hola Mundo!!! WEB Conectada a SQL</h1>
    <a href="@Url.Action("Provincias", "Provincias")">Ver Lista de Provincias</a>
</body>
</html>
