@using SampleAppConnection.Models
@model IList<Provincia>

@{
    ViewData["Title"] = "Lista de provincias";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Content/styles.css" />
</head>
<body>
    <h1>Lista de provincias</h1>
    <div>
        @{foreach (var provincia in Model) {
                <div class="item-provincia">
                    <div class="item-provincia-id">@provincia.Id</div>
                    <div class="item-provincia-nombre">@provincia.Nombre</div>
                </div>
            }
        }
    </div>
</body>
</html>