<?xml version="1.0"?>
<configuration>
	
	<appSettings>
		<add key="ConnectionStringLocal" value="Server=DESKTOP-7EJ9QTF\MSSQLSERVER01;Database=LS_Practica_C#;Integrated Security=True;"/>
		<add key="ConnectionStringVM" value="Server=SVR-SQLCAP01\SQLEXPRESS;Database=LS_Practica_C#;User Id=sa;Password=codes;"/>
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>

</configuration>