/* Elementos HTML */

body {
    background-color: darkgreen;
    color: white;
    font-family: monospace;
}

button {
    margin: 10px;
    margin-left: 100px;
}

label {
    color: white;
    display: inline-block;
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    width: 50px;
}

li {
    padding: 5px;
}

/* ID */

#listaPersonas {
    background-color: darkslategrey;
    font-family: monospace;
    font-size: 20px;
}

#resultadoValidacion {
    background-color: limegreen;
    border: 1px solid black;
    color: white;
    display: none;
    font-family: monospace;
    font-size: 20px;
    left: 50%;
    padding: 10px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

#valorFitro {
    width: 200px;
}

/* Clases */

.campo {
    margin: 10px;
}
