<?xml version="1.0"?>
<configuration>
	
	<appSettings>
		<add key="ConnectionString" value="Server=DESKTOP-7EJ9QTF\MSSQLSERVER01;Database=LS_Practica_C#;Integrated Security=True;"/>
	</appSettings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>

</configuration>