.acerbrag-bg {
	background: linear-gradient(to top, #f1f1f1, #e9eaea, #d4dae0);
}

.acerbrag-headers {
	color: #333;
	text-transform: uppercase;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;	
}

.acerbrag-case-headers {
	color: #333;
	text-transform: initial;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;
}

.acerbrag-headers-border {
	color: #333;
	text-transform: uppercase;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
}

.acerbrag-headers-border-noUppercase {
	color: #333;
	text-transform: none !important;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
}


.acerbrag-sub-headers {
	color: #333;
	text-transform: uppercase;
	background-color: #598ebf !important;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;
}

.acerbrag-headers-noUppercase {
	color: #333;
	text-transform: none !important;
	background-color: #4074a5;
	font-weight: inherit;
	border: 1px solid #cccccc;
	border-left: none;
	border-right: none;
} 


.v-data-footer {
	text-transform: capitalize !important;
}

@media(max-width: 960px) {
	.margenMobile {
		position: relative !important;
		left: 35% !important;
		margin-bottom: 10px !important;
	}
}

.v-data-footer__pagination {
	text-transform: lowercase !important;
}

.color-rojo {
	color: red;
}

.v-messages__message {
	color: red;
}

.full-width{
	max-width: 100% !important;
}