@section scripts
{ <script type="text/javascript" src="~/js/codes/home/home.js"></script> }

<v-row class="pt-3" style=" text-align: center; ">
    <span style="font-weight: bold; text-transform: uppercase; color: #1976d2; margin: auto"> Home </span>
</v-row>

<v-row>
    <v-col cols="2"></v-col>
    <v-col cols="8"><v-spacer class="d-none d-md-flex mt-6"></v-spacer></v-col>
    <v-col cols="2"></v-col>
</v-row>
