h2 {
    font-family: 'Times New Roman';
    text-align: center;
}

label {
    font-family: 'Times New Roman';
    font-size: 20px;
    margin: 10px;
}

/************************************ ID's ************************************/

.table-header th {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.table-data td {   
    border: 1px solid black;
    color: black;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.table-data td a {
    color: black;
}

::placeholder {
    color: lightgray;
    font-family: 'Times New Roman';
    font-size: 20px;
}

.main-button {
    background-color: lightgrey;
    font-family: 'Times New Roman';
    font-size: 20px;
}

    .main-button:hover {
        background-color: darkgrey;
        color: white;
    }

.button-space-index {
    margin: 20px 230px;
    padding: 0px 25px;
}

.link-back-button {
    border: 1px solid black;
    color: black;
    padding: 5px;
    text-decoration: none;
}

.button-space-edit {
    margin: 50px;
}

.font-form {
    font-family: 'Times New Roman';
    font-size: 20px;
}