@using ARQ.Recursos

<div class="alert alert-warning">
    <span class="oi oi-pie-chart">
        @Global.MensajeNoAutorizado
    </span>
</div>

<a asp-action="index" asp-controller="Home" class="btn btn-info col-lg-3 col-sm-6">
    @Global.VolverAlInicio
</a>