@using Web.Models.Account;
@using ARQ.Recursos;

@model LoginViewModel
@{ ViewData["Title"] = Global.Login; }

<link href="~/css/login.css" rel="stylesheet" />

@section scripts {
    <script type="text/javascript" src="~/js/account/login.js" asp-append-version="true"></script>
    <script type="text/javascript">vueAppParams.data.model =@Html.Raw(Model.ToJsonModel())</script>
}

<v-form ref="vueForm">
    <v-container>
        <v-layout wrap>
            <v-flex sm12 md4 offset-md4 style="margin-top:10%">
                <v-card elevation="10" light tag="section" style="background-color: cadetblue " class="rounded-lg">
                    <v-row justify="center">
                        <v-img max-height="150"
                               max-width="200"
                               src="@Url.Content("../images/logo.png")"></v-img>
                    </v-row>
                    <v-card-title class="justify-center">
                        <h1 class="display">ARQUITECTURA CODES</h1>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-form>
                            <v-text-field outlined
                                          placeholder="Usuario"
                                          type="text"
                                          v-model="model.Usuario"></v-text-field>
                            <v-text-field outlined
                                          hide-details
                                          placeholder="Contraseña"
                                          type="password"
                                          v-model="model.Password"></v-text-field>
                        </v-form>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-text class="text-center">
                        <v-btn rounded
                               x-large
                               color="info"
                               :loading="submiting"
                               :disabled="submiting"
                               v-on:click="onClickIniciarSesion">
                            <v-icon left>mdi-lock</v-icon>
                            Ingresar
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-form>

