@model IList<MVCApplication.Models.ProvinciaModel>
@{
    ViewBag.Title = "Index";
}
<h2>Index of Provincia</h2>
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idProvincia = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { idProvincia = item.Id })
            </td>
        </tr>
    }
</table>

<input type="button" value=«Prueba View" onclick="CargarView()" />

<div id="popup">

</div>