h1 {
    text-align: center;
}

label {
    margin: 15px;
}

input {
    width: 200px;
}

/************************************ ID's ************************************/

.text-format {
    font-family: "Times New Roman";
    font-size: 15px;
}

.table-header th {
    background-color: black;
    border: 1px solid black;
    color: white;
    text-align: center;
}

.table-data td {
    border: 1px solid black;
    color: black;
}

    .table-data td a {
        color: black;
        text-decoration: underline;
    }

::placeholder {
    color: lightgray;
}

.main-button {
    background-color: lightgrey;
}

    .main-button:hover {
        background-color: darkgrey;
        color: white;
    }

.link-back-button {
    border: 2px solid black;
    color: black;
    padding: 5px;
    text-decoration: none;
}

    .link-back-button:hover {
        text-decoration: none;
    }

.confirm-button {
    width: 70px;
}

.button-space-index {
    margin: 20px 200px;
    padding: 0px 25px;
}

.button-space-edit {
    margin: 50px;
}
